<%= fields_for :location, @location do |ff| %>
  <div class="col-md-2 col-lg-2">
    <%= ff.radio_button :as_location_type, "on_premises_location", {:class=>'location_type_radio', :checked=>true} %>
    <i class="fa fa-institution fa-3x"></i>
    <%= ff.label :location_type_on_premises, "On Premises" %>   
  </div>
  <div class="col-md-2 col-lg-2">
    <%= ff.radio_button :as_location_type, "residence_location", :class=>'location_type_radio' %>
    <i class="fa fa-home fa-3x"></i>
    <%= ff.label :location_type_residence, "Residence" %>
  </div>
  <div class="col-md-8 col-lg-8">
  	&nbsp;
  </div>
<% end %>
