<%= form_for [:admin, @location], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => '/admin/locations/fields', object: @location %>
  <!-- Location Details -->
  <div id="residence_location_fields" style="display:none;">
    <h2>Residence</h2>
    <% @residencelocation = ResidenceLocation.new %>
    <%= render :partial => '/admin/locations/fieldsresidencelocation', object: @residencelocation, :locals => {:f => f} %>
  </div>
  <div id="on_premises_location_fields" style="display:none;">
    <h2>On Premises</h2>
    <% @onpremiseslocation = OnPremisesLocation.new %>
    <%= render :partial => '/admin/locations/fieldsonpremiseslocation', object: @onpremiseslocation, :locals => {:f => f} %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_animals_path, :class => 'btn' %>
  </div>
  
<% end %>
