  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Animal Information</h3>
    </div>
    <%= form_for [:admin, @animal], :html => { :role => 'form' } do |f| %>
    <div class="box-body">
      <div class="row bottom-buffer">
        <div class="col-md-6">
           <div class="media-body">                      
               <%= f.label :picture %>
               <%= f.hidden_field(:picture_cache) %>
               <%= f.file_field(:picture) %>
           </div>        
        </div>
        <div class="col-md-6">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="animal_code">
            Code 
            <% if @animal.errors[:code].present? %>
              <span class="form-error"><%= @animal.errors[:code][0] %></span>
            <% else %>
              <span class="required-label">REQUIRED</span>
            <% end %> 
          </label> 
          <div class="row">
            <div class="col-xs-6">
              <%= f.text_field :code, :class => 'form-control' %>
            </div>
            <div class="col-xs-6">
              <%= f.text_field :short_code, :value => @animal.code.to_s.last(4) ,:class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="animal_status">
                Status 
                <% if @animal.errors[:status].present? %>
                  <span class="form-error"><%= @animal.errors[:status][0] %></span>
                <% else %>
                  <span class="required-label">REQUIRED</span>
                <% end %> 
              </label>           
            <%= f.collection_select :animal_status_id, AnimalStatus.all, :id, :name, {:include_blank => ''}, {:class => 'form-control', :id =>'status'} %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :value => @animal.code.to_s, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="animal_type">
              Type 
              <% if @animal.errors[:type].present? %>
                <span class="form-error"><%= @animal.errors[:type][0] %></span>
              <% else %>
                <span class="required-label">REQUIRED</span>
              <% end %> 
            </label> 
            <%= collection_select :animal, :animal_type_id, AnimalType.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :litter %>
            <%= f.text_field :litter, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <%= f.label :animal_sex_id, 'Sex' %>
              <%= collection_select :animal, :animal_sex_id, AnimalSex.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'}%>
            </div>
            <div class="col-md-6">
              <%= f.label :animal_size_id, 'Size' %>
              <%= collection_select :animal, :animal_size_id, AnimalSize.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %>
            </div>
          </div>
        </div>
      </div>


      <div class="row bottom-buffer">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-6">
                <%= f.label :animal_color_id, 'Color' %>
                <%= collection_select :animal, :animal_color_id, AnimalColor.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %>
            </div>
            <div class="col-xs-6">              
                <%= f.label :animal_coat_type_id, 'Coat Type' %>
                <%= collection_select :animal, :animal_coat_type_id, AnimalCoatType.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %> 
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :animal_species_id, 'Species'%>
                <%= collection_select :animal, :animal_species_id, AnimalSpecies.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :animal_breed_id, 'Breed' %>
                <%= collection_select :animal, :animal_breed_id, AnimalBreed.all, :id, :name, {:include_blank => ''}, {:class => 'form-control'} %>
              </div>     
            </div>
          </div>
        </div>
      </div>

      <div class="row bottom-buffer">
        <div class="col-md-12">
            <% if @animal.location then @location = @animal.location %>

            <% else @location = Location.new %>
            <label for="animal_status">
              Location 
              <% if @animal.errors[:location_id].present? %>
                <span class="form-error"><%= @animal.errors[:location_id][0] %></span>
              <% else %>
                <span class="required-label">REQUIRED</span>
              <% end %> 
            </label> 
            <div class="row bottom-buffer">
              <%= render :partial => '/admin/locations/fields', object: @location %>
            </div>
              <!-- Location Details -->
            <div id="on_premises_location_fields">
                <% @onpremiseslocation = OnPremisesLocation.new %>
                <%= render :partial => '/admin/locations/fieldsassociatewithonpremiseslocation', object: @onpremiseslocation %>
            </div>
            <div id="residence_location_fields" style="display:none;">
                <% @residencelocation = ResidenceLocation.new %>
                <%= render :partial => '/admin/locations/fieldsassociatewithresidencelocation', object: @residencelocation %>
            </div>
            <input type="hidden" id="location_id" name="animal[location_id]">
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <%= f.label :story %>
              <small>A short story about this animal's history and personality. Will show in animal's public profile.</small>
              <%= f.text_area :story, :class => 'form-control' %>
            </div>
          </div>
        </div>
    </div>

    <div class="box-footer clearfix">
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    admin_animals_path, :class => 'btn' %>
      </div>
    </div>
  <% end %>
</div> <!-- END BOX  -->
