<%- model_class = Animal -%>

<div class="col-lg-12 col-md-12">
 
  <div class="row">
    <div class="col-lg-3 col-md-3">
    </div>
    <div class="col-lg-6 col-md-6">  
      <div class="form-group">                                   
      <%= form_tag admin_animals_path, :method => 'get', :id => "animals_search" do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], :class=>'form-control' %>
          <span class="input-group-btn">
            <!--<button class="btn btn-default" type="button">Go!</button>-->
          <%= submit_tag "Search", :name => nil, :class=>'btn btn-default' %>
          </span>
        </div><!-- /.input group -->
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
      <% end %>
      </div><!-- /.form group -->
    </div>
    <div class="col-lg-3 col-md-3">
      <%= link_to t('.new', :default => t("helpers.links.new")),
              new_admin_animal_path,
              :class => 'btn btn-primary pull-right' %>
    </div>
  </div>  


  <div class="box">
    <div class="box-header">
        <h3 class="box-title">All Animals</h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= sortable 'name' %></th>
          <th>Code</th>
          <th>Status</th>
          <th>Sex</th>
          <th>Species</th>
          <th>Location</th>
          <th>Created</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @animals.each do |animal| %>
          <tr>
            <td><%= image_tag(animal.picture_url(:thumbnail), :alt => animal.name) %></td>
            <td><%= link_to animal.name, admin_animal_path(animal) %></td>
            <td><%= animal.code unless animal.code.blank? %></td>
            <td><%= animal.status unless animal.status.blank? %></td>
            <td><%= animal.sex unless animal.sex.blank? %></td>
            <td><%= animal.species unless animal.species.blank? %></td>
            <td>
              <% if animal.location %>
                <%= link_to animal.location.name, "/admin/#{animal.location.as_location_type.underscore.pluralize}/#{animal.location.as_location_id.to_s}" %>
              <% else %>
                Unknown
              <% end %>
            </td>
            <td><%= time_ago_in_words(animal.created_at) %> ago</td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_admin_animal_path(animal), :class => 'btn btn-mini' %>
            </td>
            <td>
              <%= link_to 'Move', move_admin_animal_path(animal), method: :get, :class => 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>    

    <%= will_paginate @animals, renderer: BootstrapPagination::Rails %> 

    </div><!-- end box-body --> 
  </div><!-- end box -->
</div>
