<%= form_for @animal, :url => {:action => 'update_location'}, :html => { :class => 'form-horizontal' } do |f| %>  
<div class="col-lg-5 col-md-5"> 
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">From</h3>
    </div>
    <div class="box-body">
      <p><%= @animal.location.description %></p>
    </div>
  </div>  
</div>
<div class="col-lg-7 col-md-7"> 
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">To</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <%= render :partial => '/admin/locations/fields', object: @animal.location %>
      </div>
      <!-- Location Details -->
      <div id="on_premises_location_fields" style="display:none;">
        <% @onpremiseslocation = OnPremisesLocation.new %>
        <%= render :partial => '/admin/locations/fieldsassociatewithonpremiseslocation', object: @onpremiseslocation %>
      </div>
      <div id="residence_location_fields" style="display:none;">
          <% @residencelocation = ResidenceLocation.new %>
          <%= render :partial => '/admin/locations/fieldsassociatewithresidencelocation', object: @residencelocation %>
      </div>
    </div> 
  </div>
</div>

    <div class="form-actions">
      <%= f.submit "Move", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  admin_animals_path, :class => 'btn' %>
    </div>  
<% end %>
