 <%- model_class = User -%>
   <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
 <div class="form-box" id="login-box">
     <div class="header">Sign In to RescueServe</div>
     <%= form_for :sessions, :url => admin_sessions_path, :html => {:role => 'form'} do |f| %> 
         <div class="body bg-gray">
             <div class="form-group">
                 <!--<input type="text" name="userid" class="form-control" placeholder="User ID"/>-->
                 <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email Address' %>
             </div>
             <div class="form-group">
                 <!--<input type="password" name="password" class="form-control" placeholder="Password"/>-->
                 <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
             </div>          
             <!--<div class="form-group">
                 <input type="checkbox" name="remember_me"/> Remember me
             </div>-->
         </div>
         <div class="footer">                                                               
             <!--<button type="submit" class="btn bg-olive btn-block">Sign me in</button>-->
             <%= submit_tag "Login", :class=>'btn bg-olive btn-block' %>  
             
             <!--<p><a href="#">I forgot my password</a></p>-->
             
             <!--<a href="register.html" class="text-center">Register a new membership</a>-->
         </div>
     <% end %>
    <!--<div class="margin text-center">
         <span>Sign in using social networks</span>
         <br/>
         <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
         <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
         <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>
    </div>-->
 </div>
