        <!-- Main content -->
        <section class="content">
        
            <!-- Small boxes (Stat box) -->
            <div class="row">
            	<% @animals.each do |animal| %>
            	<div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-gray">
                        <div class="inner">
                            <p>
                                <a href="<%= admin_animal_path(animal) %>">
                                	<%= image_tag(animal.picture_url(:card), :alt => animal.name) %>
                                </a>
                            </p>
                        </div>
                        <a href="<%= admin_animal_path(animal) %>" class="small-box-footer">
                          <%= animal.name %>
                        </a>
                    </div>
                </div><!-- ./col -->            	    
            	<% end %>

            </div><!-- /.row -->

            <!-- top row -->
            <div class="row">
                <div class="col-xs-12 connectedSortable">
                    
                </div><!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <!-- CHANGE BACK TO 6 WHEN SECOND COL IS IMPLEMENTED -->
                <section class="col-lg-12 connectedSortable">
                    <!-- Adoptables list box -->
                    <div class="box box-warning">
                        <div class="box-header">
                        	<!-- ADD BACK IN AFTER STATUS AND LOCATION ARE IMPLEMENTED -->
                            <!-- tools box -->
                            <!--<div class="pull-right box-tools">
                            	<div class="btn-group">
                                    <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Fosters</a></li>
                                        <li><a href="#">On Hold</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Custom Filter</a></li>
                                    </ul>
                                </div>
                            </div>--><!-- /. tools -->

                            <i class="fa fa-map-marker"></i>
                            <h3 class="box-title">
                                Adoptables
                            </h3>
                        </div>
                        <div class="box-body no-padding">
                            <div class="table-responsive">
                                <!-- .table - Uses sparkline charts-->
                                <table class="table table-striped">
                                    <tr>
                                        <th>Name</th>
                                        <th>Location</th>
                                        <!--<th>Status</th>
                                        <th>Alerts</th>-->
                                    </tr>
                                    <% @animals.each do |animal| %>
                                    <tr>
                                        <td>
                                          <a href="<%= admin_animal_path(animal) %>">
                                            <%= animal.name %>
                                          </a>
                                        </td>
                                        <td><%= animal.location.name if animal.location %></td>
                                        <!--<td>Status</td>
                                        <td>Alert</td>-->
                                    </tr>
                                    <% end %>
                                </table><!-- /.table -->
                            </div>
                        </div><!-- /.box-body-->
                        <div class="box-footer">
                            <a href="<%= new_admin_animal_path %>" class="btn btn-default"><i class="fa fa-plus"></i> Add Animal</a>
                        </div>
                    </div>
                    <!-- /.box -->
                </section><!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <!--<section class="col-lg-6 connectedSortable">

                </section>--><!-- right col -->
            </div><!-- /.row (main row) -->

        </section><!-- /.content -->