<%- model_class = Animal -%>

<div class="row">
  <div class="col-lg-3 col-md-3" style="padding-top:25px;">
    <% if @animal.picture? %> 
      <%= image_tag(@animal.picture_url(:standard), :alt => @animal.name, :class=>'img-animal-profile') %>
    <% else %>
      <img src="http://placehold.it/200x250&text=<%= @animal.name %>">
    <% end %>
  </div>   

  <div class="col-lg-9 col-md-9">
    <div class="row">
      <div class="col-md-12">
        <h2><%= @animal.name %> </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= @animal.sex %>
      </div>
      <div class="col-md-2">
        <%= @animal.size %>
      </div>
      <div class="col-md-8">
        <%= @animal.breed %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          <% if @animal.story.blank? %>
            Who wouldn't want such a sweetie? Come by and visit <%= @animal.name %> today!
          <% else %>
            <%= @animal.story %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-12">
        <h3>Do you want to give this animal a home?</h3>
        <p>
          Call us or contact us via email if you're interested. We can schedule a visit.
        </p>
        <p>
          A small adoption fee is charged for each animal. All animals are spayed or nuetred as part of this fee.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h3>Take a look at some of our other animals</h3>
  </div>
  <!-- BEGIN List of adobtables -->
  <%= render 'animals/gallery' %>
  <!-- END List of adoptables -->
</div>
